@import 'pikaday/css/pikaday.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] { display: none !important; }
.login_bg{
    background: url('../../public/img/demo.jpg');
    background-position: center;
    background-size: 100%;
}


.customeHeight{
    /* height: 400vh !important; */
}

.leave{
    /* background-color: lightgreen  !important; */
}

.no_leave{
    /* background-color:  !important; */
    background-color: lightgreen  !important;

}


