@import 'pikaday/css/pikaday.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] { display: none !important; }
.login_bg{
    background: url('../../public/img/demo.jpg');
    background-position: center;
    background-size: 100%;
}


.customeHeight{
    /* height: 400vh !important; */
}

.leave{
    /* background-color: lightgreen  !important; */
}

.no_leave{
    /* background-color:  !important; */
    background-color: lightgreen  !important;

}


.superZ{
    z-index: 9999999999999999999999;
}
::-webkit-scrollbar {
    height: 10px;
    width: 0px;
    border: 1px solid #fff;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
  }
