@import 'pikaday/css/pikaday.css';
@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] { display: none !important; }
.login_bg{
    background: url('../../public/img/demo.jpg');
    background-position: center;
    background-size: 100%;
}

  body {
           font-family: 'Pyidaungsu', sans-serif !important;
            font-size: 13px;
        }
.customeHeight{
    /* height: 400vh !important; */
}

.leave{
    /* background-color: lightgreen  !important; */
}

.no_leave{
    /* background-color:  !important; */
    background-color: lightgreen  !important;

}


.superZ{
    z-index: 9999999999999999999999;
}
::-webkit-scrollbar {
    height: 10px;
    width: 0px;
    border: 1px solid #fff;
  }

  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
  }



  .spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other content */
}


.spinner {
    border: 8px solid #f3f3f3; /* Light gray background color */
    border-top: 8px solid #3498db; /* Blue color for the spinning part */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}

/* Keyframes for spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* choices__list choices__list--dropdown */
/*  */
.choices__list{

    height: 6rem !important;
    overflow: scroll !important;
    overflow: scroll;
    scrollbar-width: thin;

}
